body{
    position: relative;
}

.canvas{
    display: table;
  	margin: 0 auto;
}

.hidden {
    opacity: 0;
    z-index: -9999;
}

.score{
    display: table;
    margin: 0 auto;
    margin-top: 5vh;
    font-family: 'Raleway', sans-serif;;
    transition: opacity 0.5s ease-in-out;
}

.main-menu{
    font-family: 'Raleway';
    position: fixed;
    background-color: limegreen;
    width: 25vw;
    text-align: center;
    top: 25%;
    left: 37%;
    transition: opacity 0.1s ease-in-out;
}

.menu-button{
    cursor: pointer;
}

.menu-button:hover{
    color: white;
}

.game-menu{
    font-family: 'Raleway';
    position: fixed;
    width: 25vw;
    text-align: center;
    top: 25%;
    left: 37%;
    transition: opacity 0.1s ease-in-out;
}

.game-menu.start{
    background-color: limegreen;
}

.game-menu.gameover{
    background-color: crimson;
}

.countdown-display{
    pointer-events: none;
    font-family: 'Raleway';
    position: fixed;
    width: 25vw;
    font-size: 3rem;
    font-weight: bold;
    text-align: center;
    top: 25%;
    left: 37%;
    /* transition: opacity 0.2s ease-in-out; */
}